header {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 60px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    margin: 0;
    padding: 0;
}

header p {
    color: black;
    font-size: 28px;
    margin: 0;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 32px;
}

article p:first-of-type::first-letter {
    font-family: "Times New Roman", serif;
    font-size: 36px;
}

article {
    color: lightgray;
    transition:
        color 0.5s ease,
        transform 2s ease;
    transform: scale(1);
    cursor: pointer;
}

p > a[href="http://www.google.com"]::after {
    content: "";
    display: inline-block;
    width: 20px;      
    height: 20px;     
    background-image: url("arrow.png");
    background-repeat: no-repeat;
    background-size: contain;  
    margin-left: 6px;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

article:hover {
    color: black;
    transform: scale(1.05);
}

#menuItems {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: black;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

#menuItems button {
    width: 100%;
    padding: 12px;
    margin: 0;
    border: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    text-align: center;
}

#jumpMenu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

#jumpMenu:hover {
    display: block;
}

#jumpMenu:hover li a {
    background-color: goldenrod;
    color: blue;
}

#recentArticles:hover {
    background-color: goldenrod;
    color: white;
}

#recentArticles:hover + #jumpMenu {
    display: block;
}

#recentArticles:hover + #jumpMenu li a {
    background-color: goldenrod;
    color: blue;
}

#jumpMenu li a {
    display: block;
    background-color: blue;
    color: white;
    padding: 6px 12px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

#jumpMenu li a:hover {
    background-color: blue;
    color: black;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 30px;
    background-color: skyblue;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 0;
    z-index: 1000;
}

#thanks a {
    text-decoration: underline;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

main {
    margin-left: 220px;
}