#jumpMenu {
    position: fixed;
    left: 0;        
    top: 0;
    width: 200px;           
    height: 100vh;          
    background-color: goldenrod;
    padding: 20px;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jumpMenu a {
    display: block;
    margin-bottom: 15px;
    text-decoration: underline;
    color: blue;
    text-align: center;
    font-size: 20px;
}

#jumpMenu h2 {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 20px;
}

main {
    margin-left: 240px;
    padding-top: 140px;
    padding-left: 10px;
    padding-right: 10px;
}

header p {
    position: fixed;
    top: 0px;
    left: 242px;
    width: calc(100% - 242px);
    background: red;
    color: black;
    margin: 0;
    padding: 10px 20px;
    font-size: 28px;
    text-align: center;
    z-index: 2000;
}

header nav {
    position: fixed;
    top: 50px;
    left: 242px;
    width: calc(100% - 242px);
    background: black;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    z-index: 2000;
}

header nav button {
    background: blue;
    color: white;
    border: none;
    padding: 0 50px;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 60px;
    background: skyblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    z-index: 2000;
    border: 2px solid black;
}