header {
    text-align: center;
}

#objectiveStatement p {
    padding-left: 20px;
}

h3 {
    padding-left: 20px;
}

#education p {
    padding-left: 20px;
}

#experience p {
    padding-left: 20px;
}

ul {
    list-style-type: disc;
}

li {
    margin-bottom: 15px;
}

a {
    padding-left: 20px;
}

#skills p {
    padding-left: 20px;
}

@media only screen and (max-width: 412px) {
    body {
        width: 100%;       
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 1920px) {
    body {
        max-width: 1920px;
        margin: 0 auto;    
        padding: 0;
    }
}